body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
strong {
    font-size: 1.25rem;
}
p {
    font-size: 0.9rem;
    margin: 5px 0;
}
/* input[type="text"] {
    width: 30rem;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 1rem;
}
input[type="submit"] {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
input[type="submit"]:hover {
    background-color: #ff8533;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-input {
    flex: 1;
    margin-right: 10px;
}
.search-button {
    flex-shrink: 0;
} */

.searchBox {
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.search-button {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
    cursor: pointer;
}
/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.search-input {
    width: 34rem;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
    transition: font-size 0.3s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 50px; /* Rounded border */
}

/* Hover effect */
.search-input:hover {
    font-size: 16px; /* Slightly bigger font size on hover */
    cursor: text; /* Blinking cursor */
    /* border: 2px solid transparent;  Hide border initially */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
