<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/RecommendationLogo.ico">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System</h1>
        <form action="/recommend" method="post">
            <input type="text" id="user_input" name="user_input" required class="search-input"
                   placeholder="Describe the kind of movie you want to watch">
            <input type="submit" value="Search" class="search-button">
        </form>

        {% if recommendations %}
        <h2>Recommended Movies</h2>
        <p>Accuracy: {{ accuracy }}%</p>
        <ul>
            {% for movie in recommendations %}
            <li>
                <strong>{{ movie['movie_title'] }}</strong>
                <p>Genre: {{ movie['genres'] }}</p>
                <p>Directed by: {{ movie['director_name'] }}</p>
                <p>Starring: {{ movie['actor_1_name'] }}, {{ movie['actor_2_name'] }}, {{ movie['actor_3_name'] }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
